<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <!--<div style="display:grid;background: #fafafa;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: sans-serif;">
        <div style="margin: 0 auto;">
            <img src="https://ci3.googleusercontent.com/proxy/rjKByJUNWN_Gqek6viUawOPNYK4tYFzUllSSKKn91h6Rj_QuLBtyN7Fo0fEFqw_we3coMQ3yqojTmEmGUcgcBoT682CUOElLigzbFBVIkBrl5ep8vItpB31LiRYLwAd7zwye7cDlih4TSyOhgP_Fv5vMkTYp79rrxravXQ0XFDO2rWUYsBh9XT0=s0-d-e1-ft#https://s3-us-west-2.amazonaws.com/quipuc-email/tuquienda/mail-de-GRACIAS-POR-REGISTRATEtutoriales-panel1+(1).gif">
        </div>
        <div style="display:grid;margin: 0 auto;">
            <div style="margin-bottom: -3px !important;">
                <a href="">
                    <img src="https://ci4.googleusercontent.com/proxy/mpHrniLiw_zXG_ZBvB8aeNKtxQJpWc_gUHtp_YLvBz1hD_1HwxrK8nYoyfwju2ams6bt-QDZoQftMlrmcbyFHC_OuXOuiGJ5AIXYzpaYRC5744Sa493ihM4=s0-d-e1-ft#https://s3-us-west-2.amazonaws.com/quipuc-email/tutorial-import.jpg">
                </a>
            </div>
            <div style="margin-bottom: -3px !important;">
                <a href="">
                    <img src="https://ci6.googleusercontent.com/proxy/o60vaW51ZWMEyXq7jZF5UoNJFALHAQMVWj1i7FVsMxTmaWk_3H_sKFelArPyvlRjdzEGlCdTCbg1oH4506hhECK_rcZrGmaha3ahAvaidO6S_jhsSvdj6w=s0-d-e1-ft#https://s3-us-west-2.amazonaws.com/quipuc-email/tutorial-store.jpg">
                </a>
            </div>
            <div style="margin-bottom: -3px !important;">
                <a href="">
                    <img src="https://ci5.googleusercontent.com/proxy/PT_TQqjX4GmOAepKkEJVP2-K0Af6lF16LwmuOweNnqaLozL5ekU8JVi4FnLqssKBcB26633w6XW7XZlgSqQma2xGPcWAg6BGeJFAiId__fWpaC0wl4s6=s0-d-e1-ft#https://s3-us-west-2.amazonaws.com/quipuc-email/tutorial-sale.jpg">
                </a>
            </div>
        </div>
        <div style="color:#0f539a; display:grid; margin:0 25%; ">
            <hr>
            <p style="    margin: 10px auto;
    font-size: 22px;
    font-weight: 600;">
                <bold>¡Comienza ya!</bold>
            </p>
            <p style="    margin: 10px auto;
    font-size: 22px;
    font-weight: 600;">No olvides tienes
                <bold>15 días GRATIS</bold>
            </p>
            <p style="    margin: 10px auto;
    font-size: 22px;
    font-weight: 600;">para practicar en tu tienda virtual</p>
            <span style="
        font-size: 17px;
        border: 2px solid #0f539a;
        border-radius: 20px;
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
        ">Mayor información al (01) 720 0965</span>


        </div>
        <div style="display: flex;position:absolute;right
    justify-content: center;height:500px;width:700px">
            <iframe width="540" height="270" src="https://www.youtube.com/embed/XIX1_R5dPuI" frameborder="0"></iframe>
        </div>
    </div>-->

    <div style="background-image:url('../../public/images/Correo/principal.jpg');
    background-size:100% 100%;min-height:300px;min-width:300px">

    </div>

    <!--<div >
        <img src="../../public/images/Correo/principal.jpg">
    </div>-->
</body>

</html>